<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 text-center">
            <a style="text-decoration: none;" href="{{LandingUrl}}">
                <img height="70" src="/assets/images/logos/logo-full.png" />
            </a>
        </div>

        <div class="card shadow-lg mt-4 rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
            <h5 class="card-header">Subscription Expired</h5>
            <div class="card-body">
                <p>Your subscription has expired 😢</p>
                <p>We'd hate to see you go. You can purchase a new subscription below.</p>
                <p>Feel free to <a href="{{LandingUrl}}/Home/Support">contact support</a> if you have any questions.</p>
            </div>

            <div class="card-footer">
                <a href="{{LandingUrl}}/Identity/Account/PurchaseSubscription" class="btn btn-primary">Purchase Subscription</a>
            </div>
        </div>
    </div>
</div>