@import "./../../../../styles.scss";

:host {
    display: flex;
    padding: 0.3em;
}

.envelope-name {
    flex: 0 0 160px;
    font-size: 0.8em;
}

.envelope-details {
    display: flex;
    flex: 1 0 auto;
    * {
        flex: 0 0 33%;
        font-size: 0.8em;
    }
    text-align: right;
}

.envelope-details-balance {
    font-weight: 500;
    line-height: 2.2;
}