<div class="envelope-name">{{envelope.name}}</div>
<div class="envelope-details">
    <!-- <div class="label" [ngClass]="{'label-success': envelope.balance > 0, 'label-danger': envelope.balance < 0, 'label-info': envelope.balance === 0}">{{envelope.balance | currency:'USD':'symbol-narrow'}}</div> -->
    <moneteer-currency-input class="assigned" [(ngModel)]="assigned" (ngModelChange)="onAssignedChanged()"></moneteer-currency-input>
    <div class="envelope-details-balance" [ngClass]="{'is-good': balance > 0, 'is-bad': balance < 0}">{{balance | budgetCurrency:true | async}}</div>
</div>
