@import "./../../../../styles.scss";

:host {
    display: flex;
    padding: 0.5em;
}

.envelope-name {
    flex: 0 0 160px;
    font-size: 0.8em;
}

.envelope-details {
    display: flex;
    flex: 1 0 auto;
    div, moneteer-currency-edit {
        flex: 0 0 33%;
        font-size: 0.8em;
    }
}