<moneteer-transaction-edit [transaction]="transaction" [currentAccountId]="currentAccountId"></moneteer-transaction-edit>
<div class="my-2 mx-3 align-self-end">
    <button type="button" class="btn btn-link btn-xs mr-3" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-success btn-xs" (click)="create()" [disabled]="!canCreate() || (isCreating$ | async)">
        <span [hidden]="!(isCreating$ | async)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Create
    </button>
</div>
<div class="my-2 mx-3 align-self-end text-danger" *ngIf="errorMessage">
    {{errorMessage}}
</div>
