image: node:latest

variables:
  S3_BUCKET_NAME: "moneteer-app.s3.amazonaws.com"

cache:
  paths:
    - node_modules/

stages
  - build
  - test
  - release

build:
  stage: build
  script:
    - "npm install"
    - "./node_modules/.bin/ng build --prod"
  artifacts:
    paths:
      - dist/

test:
  stage: test
  script:
    - "npm run test:ci"

release:
  stage: release
  image: python:latest
  script:
    - pip install awscli
    - aws s3 sync ./dist s3://$S3_BUCKET_NAME/ --delete
  only:
    - master
