image: node:latest

variables:
  - S3_BUCKET_NAME: "moneteer-app.s3.amazonaws.com"
  - AWS_DEFAULT_REGION: "eu-west-1"

cache:
  paths:
    - node_modules/

stages:
  - build
  - test
  - release

before_script:
  - "npm install"  
  
build:
  stage: build
  script:
    - "./node_modules/.bin/ng build --prod"
  artifacts:
    paths:
      - dist/

test:
  stage: test
  script:
    - "npm run test:ci"

release:
  stage: release
  image: python:latest
  script:
    - pip install awscli
    - aws s3 sync ./dist s3://$S3_BUCKET_NAME/ --delete
  only:
    - master
