@import "./../../../../styles.scss";

:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $theme-divider-color;
    border-right: 1px solid $theme-divider-color;
    border-left: 1px solid $theme-divider-color; 
}