@import "./../../../../css/base.scss";

// moneteer-dropdown {
//     min-width: 250px;
//     max-height: 250px;
//     overflow-y: auto;
//     font-size: 0.9rem;
//     position: relative;
// }

.subheader {
    font-size: 0.9em;
    font-weight: bold;
}

.item {
    font-size: 0.7em;
    padding: 3px;
    cursor: pointer;
}

.item:hover {
    background-color: $primary-color-light;
}

.subitem {
    margin-left: 5px;
}