@import "./../../../../styles.scss";

:host {
    flex: 0 0 50%;
    margin-right: 0.5em;
    overflow-y: auto;
}

.envelope-list-header {
    display: flex;
    
    
    .spacer {
        flex: 0 0 160px;
    }
}


.header-labels {
    display: flex;
    flex: 1 1 auto;
    font-size: 0.8em;
    text-align: right;
    div {
        flex: 0 0 33%;
    }
}