<ngb-progressbar class="flex-grow-1" type="{{(service.leftToAssign$ | async) < 0 ? 'danger' : 'info'}}"
    [value]="service.percentageAssigned$ | async"></ngb-progressbar>
<div class="ml-2 small">
    <span [hidden]="(service.leftToAssign$ | async) >= 0">
        {{+(service.leftToAssign$ | async) | currency:'USD':'symbol-narrow'}} overassigned
    </span>
    <span [hidden]="(service.leftToAssign$ | async) < 0">
        {{service.leftToAssign$ | async | currency:'USD':'symbol-narrow'}} remaining
    </span>
</div>