@import "./../../../../styles.scss";

:host {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.progress {
    flex: 1 0 auto;
    margin-right: 0.5em;
    width: auto;
}

.progress-label {
    flex: 0 0 auto;
    font-size: 0.7em;
    line-height: 1em;
}