<div class="progress" [ngClass]="{'danger':(service.leftToAssign$ | async) < 0}">
    <progress [value]="service.percentageAssigned$ | async" max="100"></progress>
    <pre>{{service.percentageAssigned$ | async}}</pre>
</div>
<div class="progress-label">
    <span [hidden]="(service.leftToAssign$ | async) >= 0">
        {{+(service.leftToAssign$ | async) | currency:'USD':'symbol-narrow'}} overassigned
    </span>
    <span [hidden]="(service.leftToAssign$ | async) < 0">
        {{service.leftToAssign$ | async | currency:'USD':'symbol-narrow'}} remaining
    </span>
</div>