<div class="transaction-row" (click)="click()">
    <div class="transaction-cell transaction-cell--selected">
        <input type="checkbox" (click)="$event.stopPropagation()" [(ngModel)]="isChecked" name="isChecked"
            id="isChecked">
    </div>
    <div class="transaction-cell transaction-cell--date">
        <span *ngIf="!isEditing">{{transaction?.date | date:'shortDate'}}</span>
        <div class="input-group" *ngIf="isEditing">
            <input class="form-control form-control-xs" type="date" name="date" [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="date = $event" >
        </div>
    </div>
    <div [hidden]="currentAccountId" class="transaction-cell transaction-cell--account">
        <span *ngIf="!isEditing">{{transaction?.account?.name}}</span>
        <moneteer-account-select-dropdown *ngIf="isEditing" [accounts]="accounts$ | async"
            [(selectedAccount)]="account"></moneteer-account-select-dropdown>
    </div>

    <!-- <div class="transaction-cell transaction-cell--payee">
        <span *ngIf="!isEditing">{{transaction?.payee?.name}}</span>
        <moneteer-payee-select-dropdown *ngIf="isEditing" [payees]="payees$ | async" [(selectedPayee)]="payee">
        </moneteer-payee-select-dropdown>
    </div> -->
    <div class="transaction-cell transaction-cell--description">
        <span *ngIf="!isEditing">{{transaction?.description}}</span>
        <input *ngIf="isEditing" class="form-control form-control-xs" type="text" [(ngModel)]="description"
            name="description">
    </div>
    <div class="transaction-cell transaction-cell--category">
        <span *ngIf="!isEditing">{{transaction?.envelope?.name}}</span>
        <moneteer-envelope-select-dropdown *ngIf="isEditing" [(selectedEnvelope)]="envelope"
            [envelopes]="envelopes$ | async" inputSize="xs"></moneteer-envelope-select-dropdown>
    </div>
    <div class="transaction-cell transaction-cell--flow">
        <span *ngIf="!isEditing">{{transaction?.outflow | budgetCurrency | async }}</span>
        <input *ngIf="isEditing" class="form-control form-control-xs" moneteerCurrencyInput [(value)]="outflow"
            autocomplete="off" type="text">
    </div>
    <div class="transaction-cell transaction-cell--flow">
        <span *ngIf="!isEditing">{{transaction?.inflow | budgetCurrency | async }}</span>
        <input *ngIf="isEditing" class="form-control form-control-xs" moneteerCurrencyInput [(value)]="inflow"
            autocomplete="off" type="text">
    </div>
    <div class="transaction-cell transaction-cell--cleared">
        <input type="checkbox" (click)="$event.stopPropagation()" (ngModelChange)="setCleared($event)"
            [(ngModel)]="isCleared" name="isCleared" id="isCleared">
    </div>
</div>

<div *ngIf="transaction.assignments?.length > 1" (click)="click($event)">
    <moneteer-transaction-assignment [currentAccountId]="currentAccountId" [assignment]="assignment"
        [isEditing]="isEditing" *ngFor="let assignment of transaction.assignments">

    </moneteer-transaction-assignment>
</div>

<div class="transaction-actions" *ngIf="isEditing">
    <button type="button" class="btn btn-link btn-xs mr-3" (click)="endEdit()">Cancel</button>
    <button [disabled]="!canSave()" type="button" class="btn btn-success btn-xs"
        (click)="save()">Save</button>
</div>