@import "./../../../../styles.scss";

:host {
    position: relative;
    font-size: 0.8em;
    border-bottom: 1px solid $theme-divider-color;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

:host:hover {
    background-color: $theme-hover;
}

:host(.selected), .selected, :host(.editing), .editing {
    background-color: $theme-hover;
    color: $theme-dark-text;
    cursor: text;
    input {
        color: $theme-dark-text;
    }
}

.editing input {
    color: $theme-light-text;
}

.transaction-actions {
    padding: 5px;
    background-color: $theme-hover;
    align-self: flex-end;
}

.transaction-cell {
    padding: 0px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.transaction-cell, input {
    width: 100%;
}

.transaction-cell--flow > .clr-form-control {
    margin-top: 0;
}