@import "./../../../../styles.scss";

:host {
    position: relative;
    //background-color: $primary-color-light !important;
}


.transaction-dropdown-item {
    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.active {
    background-color: $theme-accent !important;
}

input {
    width: 100%;
    color: $theme-light-text !important;
}

.transaction-actions {
    position: absolute;
    padding: 5px;    
    top: 100%;
    right: 30px;
    z-index: 1;
    color: $theme-light-text !important;
    background-color: $theme-accent !important;
}
