@import "./../../../../styles.scss";

:host {
    position: relative;
    //background-color: $primary-color-light !important;
}


.transaction-dropdown-item {
    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.active {
    background-color: $theme-accent !important;
}

input {
    width: 100%;
}