<div class="transaction-cell transaction-cell--selected">
</div>
<div class="transaction-cell transaction-cell--date">
</div>
<div [hidden]="currentAccountId" class="transaction-cell transaction-cell--account">
</div>
<div class="transaction-cell transaction-cell--description">
</div>
<div class="transaction-cell transaction-cell--category">
    <moneteer-envelope-select-dropdown [(selectedEnvelope)]="assignment.envelope"
        [hideEnvelopeIds]="inUseEnvelopeIds" [allowMultiple]="false" [hideEnvelopeIds]="inUseEnvelopeIds"
        [envelopes]="envelopes" inputSize="xs"></moneteer-envelope-select-dropdown>
</div>
<div class="transaction-cell transaction-cell--flow" >
    <input moneteerCurrencyInput [(value)]="outflow" name="outflow" class="form-control form-control-xs" [allowZeros]="false" [allowNegative]="false">
</div>
<div class="transaction-cell transaction-cell--flow">
    <input moneteerCurrencyInput [(value)]="inflow" name="inflow" class="form-control form-control-xs" [allowZeros]="false" [allowNegative]="false">
</div>
<div class="transaction-cell transaction-cell--cleared">
    <button class="btn" aria-label="delete assignment" (click)="delete()"><i class="fas fa-minus-circle text-danger"></i></button>
</div>
