<ng-template #envelope let-name="name" let-id="id" let-balance="balance">
    <div id="{{id}}" class="d-flex align-items-center">
        <span class="w-100 mr-2 text-truncate">{{name}}</span>
        <span class="badge badge-pill flex-shrink-1"
            [ngClass]="{'badge-success': balance > 0, 'badge-danger': balance < 0, 'badge-secondary': balance === 0}">
            {{balance | budgetCurrency:true | async}}
        </span>
    </div>
</ng-template>

<ng-template #header>
    <div *ngIf="allowMultiple">
        <button class="btn btn-xs btn-primary" (click)="multipleEnvelopes()">Multiple Envelopes</button>
    </div>
</ng-template>

<moneteer-dropdown-list [inputSize]="inputSize" [items]="envelopes" [disabled]="disabled" [(selectedItem)]="selectedEnvelope"
    [itemTemplate]="envelope" groupBy="envelopeCategory.name" [headerTemplate]="header" [hideIds]="hideEnvelopeIds">
</moneteer-dropdown-list>