@import "./../../../../styles.scss";

:host {
    display: flex;
    background-color: $primary-color;
    color: $primary-color-text;
    padding: 5px;
    font-weight: bold;
}

h5 {
    color: $primary-color-text;
    margin-left: 0.3em;
}

.category-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: -5px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: clip;
    flex: 1 0 auto;
}

.first-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    margin: 0 0 0 5px;
    padding: 0 0.25em;
}

.create-button {
    flex: 0 1 auto;
}
