<div id="inputs">
    <div class="form-group row">
        <label>Date</label>
        <input class="form-control form-control-sm" name="date" type="date" ngbDatepicker [(ngModel)]="date">
    </div>
    <div class="form-group row" [hidden]="currentAccountId">
        <label>Account</label>
        <moneteer-account-select-dropdown [accounts]="accounts$ | async" [(selectedAccount)]="account"></moneteer-account-select-dropdown>
    </div>
    <div class="form-group row">
        <label>Payee</label>
        <moneteer-payee-select-dropdown [payees]="payees$ | async" [(selectedPayee)]="payee"></moneteer-payee-select-dropdown>
    </div>
    <div class="form-group row">
        <label>Envelope</label>  
        <moneteer-envelope-select-dropdown [envelopes]="envelopes$ | async" [(selectedEnvelope)]="envelope"></moneteer-envelope-select-dropdown>
    </div>
    <div class="form-group row">
        <label>Memo</label>  
        <input name="description" class="form-control form-control-sm" type="text" [(ngModel)]="description" name="description">
    </div>
    <div class="form-group row">
        <label>Outflow</label>
        <input moneteerCurrencyInput [(value)]="outflow" name="outflow" class="form-control form-control-sm" allowZeros=false allowNegative=false>
    </div>
</div>
   
<div id="actions">
    <button type="button" class="btn btn-link btn-sm mr-3" (click)="cancel()">Cancel</button>
    <button [disabled]="!canCreate()" type="button" class="btn btn-primary btn-sm" (click)="create()">Create</button>
</div>

