<div class="container-fluid">
    <form>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label-xs text-right">Date</label>
            <div class="col-sm-6">
                <input class="form-control form-control-xs" name="date" type="date" ngbDatepicker [(ngModel)]="date">
            </div>
        </div>
        <div class="form-group row" [hidden]="currentAccountId">
            <label class="col-sm-1 col-form-label-xs text-right">Account</label>
            <div class="col-sm-6">
                <moneteer-account-select-dropdown [accounts]="accounts$ | async" [(selectedAccount)]="account">
                </moneteer-account-select-dropdown>
            </div>
        </div>
        <!-- <div class="form-group row">
            <label class="col-sm-1 col-form-label-xs text-right">Payee</label>
            <div class="col-sm-6">
                <moneteer-payee-select-dropdown [payees]="payees$ | async" [(selectedPayee)]="payee">
                </moneteer-payee-select-dropdown>
            </div>
        </div> -->
        <div class="form-group row">
            <label class="col-sm-1 col-form-label-xs text-right">Envelope</label>
            <div class="col-sm-6">
                <moneteer-envelope-select-dropdown [envelopes]="envelopes$ | async" [(selectedEnvelope)]="envelope" inputSize="xs">
                </moneteer-envelope-select-dropdown>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label-xs text-right">Memo</label>
            <div class="col-sm-6">
                <input name="description" class="form-control form-control-xs" type="text" [(ngModel)]="description"
                    name="description">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label-xs text-right">Outflow</label>
            <div class="col-sm-6">
                <input moneteerCurrencyInput [(value)]="outflow" name="outflow" class="form-control form-control-xs"
                    allowZeros=false allowNegative=false>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-link btn-sm mr-3" (click)="cancel()">Cancel</button>
            <button [disabled]="!canCreate()" type="button" class="btn btn-success btn-sm"
                (click)="create()">Create</button>
        </div>
    </form>
</div>