<div id="inputs">
    <div class="input-container">
        <label>Date</label>
        <input clrInput name="date" type="date" [(clrDate)]="date" name="date">
    </div>
    <div [hidden]="currentAccountId" class="input-container">
        <label>Account</label>
        <moneteer-account-select-dropdown [accounts]="accounts$ | async" [(selectedAccount)]="account"></moneteer-account-select-dropdown>
    </div>
    <div class="input-container">
        <label>Payee</label>
        <moneteer-payee-select-dropdown [payees]="payees$ | async" [(selectedPayee)]="payee"></moneteer-payee-select-dropdown>
    </div>
    <div class="input-container">
        <label>Envelope</label>  
        <moneteer-type-ahead [(ngModel)]="envelope" (ngModelChange)="onSelectedEnvelopeChange($event)" [values]="envelopes$ | async" [display-property]="'name'" [group-by]="'envelopeCategory.name'"></moneteer-type-ahead>
    </div>
    <div class="input-container">
        <label>Memo</label>  
        <input name="description" class="clr-input input-control" type="text" [(ngModel)]="description" name="description">
    </div>
    <div class="input-container">
        <label>Outflow</label>
        <moneteer-currency-input name="outflow" [(ngModel)]="outflow"></moneteer-currency-input>
    </div>
</div>
   
<div id="actions">
    <button type="button" class="btn btn-outline-warning btn-sm" (click)="cancel()">Cancel</button>
    <button [clrLoading]="isBusy$ | async" [disabled]="!canCreate()" type="button" class="btn btn-primary btn-sm" (click)="create()">Create</button>
</div>

