<input [attr.disabled]="disabled ? '' : null" style="width: 100%;" #searchInput class="form-control"
    (focus)="onSearchInputFocus($event)" type="text" [(ngModel)]="searchFilter" name="search-input"
    (ngModelChange)="onSearchInputValueChanged($event)" (keyup)="onSearchInputKeyUp($event)"
    (blur)="onSearchInputBlur()">
<pre>{{isCreatingNewEnvelopeCategory$ | async}}</pre>

<moneteer-dropdown [anchor]="searchInput" openOn="focus">
    <div>
        <button class="btn btn-sm btn-primary" (click)="addNewCategory()">Add New Category</button>
    </div>
    <div *ngFor="let envelopeCategory of filteredEnvelopeCategories$ | async" #envelopeCategoryElement [id]="envelopeCategory.id"
        class="item subitem" [ngClass]="{'highlighted': highlightedEnvelopeCategory?.id === envelopeCategory.id}"
        (mousedown)="envelopeCategoryClicked(envelopeCategory)">
        {{envelopeCategory.name}}
    </div>
</moneteer-dropdown>