<!-- <clr-input-container *ngIf="label !== null">
    <label>{{label}}</label>
    <input clrInput #inputBox autocomplete="off" type="text" (focus)="$event.target.select()" [ngModel]="inputValue" (ngModelChange)="onChange($event)" [ngModelOptions]="{updateOn: 'blur'}" name="currencyEdit">
    <clr-control-helper>{{hint}}</clr-control-helper>
</clr-input-container> -->

<input class="clr-input" *ngIf="label === null" #inputBox autocomplete="off" type="text" (focus)="$event.target.select()" [ngModel]="inputValue" (ngModelChange)="onChange($event)" [ngModelOptions]="{updateOn: 'blur'}" name="currencyEdit">