@import "./../../../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    user-select: none;
    font-size: 0.8rem;
}

.transaction-header {
    background-color: $theme-medium;
    color: $theme-light-text;
    font-size: 0.7rem;
    padding: 2px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-right: 1px solid $theme-divider-color;
}

.transaction-header-row {
    height: 2.2em;
    background-color: $theme-medium;
}

.transaction-header--selected input {
    width: 100%;
    margin-top: 6px;
}