@import "./../../../../styles.scss";

.subheader {
    font-size: 0.9em;
    font-weight: bold;
}

.item {
    font-size: 0.7em;
    padding: 3px;
    cursor: pointer;
}

.item:hover, .item.highlighted {
    background-color: $theme-light;
}

.subitem {
    margin-left: 5px;
}

moneteer-dropdown .btn {
    width: 100%;
}