<ng-template #envelope let-name="name" let-id="id">
    <div id="{{id}}">{{name}}</div>
</ng-template>

<ng-template #header>
    <button class="btn btn-outline btn-primary btn-xs" (click)="createEnvelope()">Create new envelope</button>
</ng-template>

<moneteer-dropdown-list [items]="envelopes" [disabled]="disabled" 
    [(selectedItem)]="selectedEnvelope" [itemTemplate]="envelope"
    [headerTemplate]="header" groupBy="envelopeCategory.name">
</moneteer-dropdown-list>

<pre>{{selectedEnvelope?.name}}</pre>