<input [attr.disabled]="disabled ? '' : null" style="width: 100%;" #searchInput class="clr-input" (focus)="onSearchInputFocus($event)" (blur)="onSearchInputBlur($event)"
    type="text" [(ngModel)]="searchFilter" name="search-input" (ngModelChange)="onSearchInputValueChanged($event)"
    (keyup)="onSearchInputKeyUp($event)">

<moneteer-dropdown [anchor]="searchInput" openOn="focus">
    <button class="btn btn-outline btn-primary btn-sm" (click)="createEnvelope()">Create new envelope</button>
    <div *ngFor="let category of filteredEnvelopes$ | async">
        <div class="subheader">{{category.groupName}}</div>
        <div class="item subitem" [ngClass]="{'highlighted': envelope.isChecked}" (mousedown)="envelopeClicked(envelope)" *ngFor="let envelope of category.envelopes">{{envelope.model.name}}</div>
    </div>
</moneteer-dropdown>