@import "./../../../../styles.scss";

:host {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    background-color: $primary-color-light;
    user-select: none;
}

.link {
    padding: 0.4em 0.8em;
    color: $primary;
    font-size: 0.8em;
}

.link-child {
    padding-left: 2.2em;
}

a:hover {
    text-decoration: none;
}

h6 {
    padding: 0.3em 0.4em;
    margin-left: 1.3em;
    margin-top: 0;
    color: $primary;
    font-size: 0.7em;
    font-weight: bold;
}

.link-container {
    display: flex;
    cursor: pointer;
}

.link-container button {
    margin: 0; 
    flex: 0 1 auto; 
    align-self: center;
    //border-color: $primary;
    border: none;
    color: $primary;
    background-color: #0000;
    cursor: pointer;
    margin-right: 0.8em;
    padding: 0;
    user-select: none;
}

.link-container a {
    flex: 1 0 auto;
    color: $primary
}

.link:hover, .link.active, .link-container:hover, .link-container:hover a, .link-container.active {
    background-color: $primary-color !important;
    color: $primary-color-text !important;
    border-color: $primary-color-text !important;
}

.link-container.active clr-icon, .link-container:hover clr-icon {
    color: $primary-color-text !important;
}

// .link-container:hover button {
//     color: $primary-color-text !important;
// }

// .link-container button:hover {
//     background-color: #e1f1f6;
//     color: #000;
// }