@import "./../../../../styles.scss";

.subheader {
    font-size: 0.9em;
    font-weight: bold;
}

.item {
    font-size: 0.7em;
    cursor: pointer;
    font-weight: bold;
}

.item:hover {
    background-color: $theme-hover;
}

.subitem {
    margin-left: 5px;
}

.item.selected {
    background-color: $theme-accent !important;
}

.header {
    font-size: 0.6em;
    color: $theme-light;
}
