@import "./../../../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: center;
    flex: 1 1 auto;
}

h2 {
    font-size: 1.2em;
    margin: 0;
    color: $theme-light-text;
}

h3 {
    margin: 0;
    color: $theme-light-text;
    font-weight: 500;
    font-size: 1em;
}

h3.good {
    color: $money-good-saturated;
}

h3.bad {
    color: $money-bad-saturated;
}

button {
    margin: 0;
}