<div class="header">
    <div class="logo">
        <i class="fas fa-money-bill"></i>
    </div>
    <h1 class="flex: 1 1 auto;">Moneteer</h1>
    <!-- <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button type="button" clrDropdownTrigger>
            <i class="fas fa-cog"></i>
        </button>
        
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
            
        </clr-dropdown-menu>
    </clr-dropdown> -->
</div>

<ng-content></ng-content>

<div style="flex: 1 0 auto;"></div>

<!-- <clr-dropdown [hidden]="!user">
    <button class="button button-primary" type="button" id="profile-dropdown-toggle" clrDropdownTrigger>
        <i class="fas fa-user"></i>
        {{user?.profile.email}}        
    </button>
    <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
        <button (click)="switchBudget()" type="button" clrDropdownItem>Switch Budget</button>
        <div class="dropdown-divider"></div>
        <button type="button" clrDropdownItem (click)="logOut()">Log Out</button>
    </clr-dropdown-menu>
</clr-dropdown> -->