@import "./../../../../styles.scss";

:host {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    background-color: $primary-color-light;
    border-right: 1px solid $divider-color;
    user-select: none;
}

clr-dropdown .dropdown-toggle-button {
    width: 100%;
    padding: 0.625em;
    background-color: $primary-color;
    color: $primary-color-text;
    font-weight: 600;
    font-size: 0.8em;
}

.header {
    background-color: $primary-color;
    color: $secondary-text-color;
    min-height: 4em;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 1.5em;
    flex: 1 1 auto;
    margin: 0;
    color: $primary;
    color: #fff;
}

.header clr-dropdown {
    margin-right: 0.625em;
}

a:hover {
    text-decoration: none;
}

.logo {
    padding: 7px;
}

.logo span {
    font-size: 1.5em;
}