<div class="header">
    <div class="logo">
        <clr-icon shape="dollar-bill" size="36" class="is-inverse"></clr-icon>
    </div>
    <h1 class="flex: 1 1 auto;">Moneteer</h1>
    <!-- <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button type="button" clrDropdownTrigger>
            <clr-icon class="is-inverse" size="24" shape="cog"></clr-icon>
            <clr-icon class="is-inverse" shape="caret down"></clr-icon>
        </button>
        
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
            
        </clr-dropdown-menu>
    </clr-dropdown> -->
</div>

<ng-content></ng-content>

<div style="flex: 1 0 auto;"></div>

<clr-dropdown [hidden]="!user">
    <button type="button" class="dropdown-toggle-button" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        {{user?.profile.email}}        
    </button>
    <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
        <button (click)="switchBudget()" type="button" clrDropdownItem>Switch Budget</button>
        <div class="dropdown-divider"></div>
        <button type="button" clrDropdownItem (click)="logOut()">Log Out</button>
    </clr-dropdown-menu>
</clr-dropdown>