@import "./../../../../styles.scss";

:host {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    background: $theme-medium;
    background: linear-gradient(45deg, $theme-darker 0%, $theme-medium 100%);
    border-right: 1px solid $theme-divider-color;
    user-select: none;
}

.header {
    background-color: $theme-darker;
    color: $theme-light-text;
    min-height: 4em;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 1.5em;
    flex: 1 1 auto;
    margin: 0;
    color: $theme-medium;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.logo {
    padding: 7px;
}

.logo span {
    font-size: 1.5em;
}