<div class="header">
    <a href="{{landingUrl}}">
        <img class="ml-2" height="40" src="/assets/images/logos/logo-full-inverted.png" />
    </a>
</div>

<ng-content></ng-content>


<div style="flex: 1 0 auto;"></div>

<moneteer-nav-trial-status *ngIf="trialExpiryDays !== null" [days]="trialExpiryDays"></moneteer-nav-trial-status>

<div ngbDropdown display="dynamic" placement="top-right" class="d-inline-block my-1">
    <button type="button" id="profileDropdown" class="w-100 btn btn-sm text-light text-shadow-dark dropdown-toggle text-truncate" ngbDropdownToggle>
        <i class="far fa-user"></i>
        {{user?.profile.email}}
    </button>
    <div ngbDropdownMenu container="body" aria-labelledby="profileDropdown" >
        <button class="btn btn-link" (click)="logOut()" ngbDropdownItem>Log Out</button>
        <a class="btn btn-link" href="{{landingUrl}}/Identity/Account/Manage" ngbDropdownItem>Account</a>
    </div>
</div>