@import "./../../../../styles.scss";

:host {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    background: $theme-medium;
    background: linear-gradient(90deg, $theme-medium 0%, $theme-darker 100%);
    border-right: 1px solid $theme-divider-color;
    user-select: none;
}

clr-dropdown .dropdown-toggle-button {
    width: 100%;
    padding: 0.625em;
    background-color: $theme-darker;
    color: $theme-light-text;
    font-weight: 600;
    font-size: 0.8em;
}

.header {
    background-color: $theme-darker;
    color: $theme-light-text;
    min-height: 4em;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 1.5em;
    flex: 1 1 auto;
    margin: 0;
    color: $theme-medium;
    color: #fff;
}

.header clr-dropdown {
    margin-right: 0.625em;
}

a:hover {
    text-decoration: none;
}

.logo {
    padding: 7px;
}

.logo span {
    font-size: 1.5em;
}

.header > .logo > clr-icon {
    fill: $theme-accent !important;
}