@import "./../../../../colors.scss";

.item:hover, .item.selected {
    background-color: $theme-accent;
}

.item {
    font-size: 0.8rem;
    cursor: pointer;
}

.body {
    max-height: 300px;
    overflow-y: auto;
    width: 250px;
}