<input [attr.disabled]="disabled ? '' : null" style="width: 100%;" #searchInput [ngClass]="{'form-control-xs': inputSize == 'xs', 'form-control-sm': inputSize == 'sm' }" class="form-control"
    (focus)="onSearchInputFocus($event)" type="text" [(ngModel)]="searchFilter" name="search-input"
    (ngModelChange)="onSearchInputValueChanged($event)" (keyup)="onSearchInputKeyUp($event)"
    (blur)="onSearchInputBlur()">

<moneteer-dropdown [anchor]="searchInput" openOn="focus">
    <div class="header">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </div>

    <div class="body mt-2">
        <ng-container *ngIf="!!groupByProperty">
            <div *ngFor="let group of groupedItems">
                <div class="item-header pl-2 text-bold bg-primary text-light">{{group.groupName}}</div>
                <div #itemElement class="item pl-3 cursor-pointer pr-2"
                    [ngClass]="{'selected': isItemSelected(item)}" *ngFor="let item of group.items"
                    (mousedown)="itemClicked(item)" [id]="item[idProperty]">
                    <ng-container *ngTemplateOutlet="itemTemplate;context:item"></ng-container>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!groupByProperty">
            <div #itemElement class="item px-1 pr-2" [ngClass]="{'selected': isItemSelected(item)}"
                *ngFor="let item of filteredItems" (mousedown)="itemClicked(item)" [id]="item[idProperty]">
                <ng-container *ngTemplateOutlet="itemTemplate;context:item"></ng-container>
            </div>
        </ng-container>
    </div>


</moneteer-dropdown>