@import "./../../../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-bottom: 0.3em;
}

.stat-column {
    font-size: 0.9em;
}

.headers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
