@import "./../../../../styles.scss";

:host {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: center;
}

section {
    background-color: $theme-light;
    color: $theme-light-text;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 5px;
    border-radius: 3px;
}