<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        <i class="far fa-envelope"></i>
        <span> Delete Envelope</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>
        Are you sure you want to delete the <em>{{envelope?.name}}</em> envelope?
    </p>
    <p *ngIf="envelope?.balance > 0">
        The remaining balance of <span class="text-success"><strong>{{envelope?.balance | budgetCurrency | async}}</strong></span> will be moved to Available Income.
    </p>
</div>
<div class="modal-footer flex-column align-items-stretch">
    <div class="align-self-end">
        <button type="button" class="btn btn-link" (click)="modal.dismiss('Close click')">Cancel</button>
        <button type="submit" class="btn btn-danger" (click)="delete()">
            <span [hidden]="!isBusy" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Delete
        </button>
    </div>

    <moneteer-error-alert [error]="error"></moneteer-error-alert>
</div>