@import "./../../../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.category-header {
    background-color: $theme-light;
    color: $theme-light-text;
    padding: 0.2em 1em;
    border-radius: 0.2em;
    font-size: 0.95em;

}

.category-details {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    font-size: 0.8em;
    div {
        flex: 0 0 33%;
    }
}

moneteer-assign-income-envelope-list-envelope {
    border-bottom: 1px solid $theme-divider-color;
}

moneteer-assign-income-envelope-list-envelope:last-child {
    border-bottom: none;
}
