@import "./../../../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
}

.category-header {
    background-color: $theme-medium;
    color: $theme-light-text;
    padding: 0.4em;
}

.category-details {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    font-size: 0.8em;
    div {
        flex: 0 0 33%;
    }
}
