<div class="account-title">
    <span class="align-middle mr-2"><i class="fas fa-university"></i></span>
    <h5 [ngClass]="{'italic': !account}">{{!account ? 'All Accounts' : account.name}}</h5>
</div>

<div class="actions">

    <button [disabled]="(accounts$ | async)?.length === 0" id="addInflow" class="btn btn-xs btn-outline-success mr-2"
        (click)="addInflow()">
        <i class="fas fa-plus-circle"></i><span> Add Income </span>
    </button>


    <button [disabled]="(accounts$ | async)?.length === 0" id="addOutflow" class="btn btn-xs btn-outline-danger mr-2"
        (click)="addOutflow()">
        <i class="fas fa-minus-circle"></i><span> Add Expense </span>
    </button>


    <button [hidden]="(selectedTransactions$ | async)?.length === 0" id="deleteTransactions"
        class="btn btn-xs btn-danger" [disabled]="(selectedTransactions$ | async)?.length === 0"
        (click)="tryDeleteTransactions()">
        <i class="fas fa-minus-circle"></i><span> Delete Transactions </span>
    </button>

</div>