@import "./../../../../styles.scss";

:host {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    border-top: 1px solid $theme-divider-color;
}

.stats {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
}

.stat {
    flex: 0 0 33%;
    background-color: $theme-accent;
    padding: 0.7em 0.6em;
    display: flex;
    flex-direction: row;
    color: $theme-light-text;
    margin: 0 0.5em;
    border-radius: 0.5em;
}

.stat-title {
    text-align: left;
    font-size: 0.8em;
    margin-right: 0.5em;
    flex: 0 0 auto;
}

.stat-value {
    text-align: right;
    font-size: 1.2em;
    flex: 1 1 auto;
}