<div class="stats">
    <div class="stat">
        <div class="stat-title">
            Uncleared
        </div>
        <div class="stat-value">
            {{account.unclearedBalance | budgetCurrency:true}}
        </div>
    </div>
    <span class="math-symbol">+</span>
    <div class="stat">
        <div class="stat-title">
            Cleared
        </div>
        <div class="stat-value">
            {{account.clearedBalance | budgetCurrency:true}}
        </div>
    </div>
    <span class="math-symbol">=</span>
    <div class="stat">
        <div class="stat-title">
            Working
        </div>
        <div class="stat-value">
            {{account.unclearedBalance + account.clearedBalance | budgetCurrency:true}}
        </div>
    </div>
</div>