<clr-modal [clrModalClosable]="false" [clrModalOpen]="isOpen$ | async">
    <h3 class="modal-title">
        <clr-icon shape="bank" class="is-info" size="32"></clr-icon>
        <span>Create Account</span>
    </h3>
    <div class="modal-body">
        <form clrForm #createAccountForm="ngForm" name="create-account" novalidate>
            <clr-alert [hidden]="!(error$ | async) || (isCreating$ | async)" clrAlertType="alert-danger">
                <div class="alert-item">
                    <span class="alert-test">
                        {{error$ | async}}
                    </span>
                </div>
            </clr-alert>
            <clr-input-container>
                <label for="name">Name</label>
                <input style="width: 100%;" clrInput autofocus class="input" #name="ngModel" required
                    [class.is-danger]="name.errors && (name.dirty || name.touched)" name="name" type="text"
                    [(ngModel)]="accountName">
                <clr-control-helper>How should Moneteer refer to this account?</clr-control-helper>
                <clr-control-error *ngIf="name.errors && (name.dirty || name.touched)">Name is required
                </clr-control-error>
            </clr-input-container>

            <moneteer-currency-input label="Current Balance" name="initialBalance" [(ngModel)]="initialBalance"
                allowNegative="true" hint="How much is in the account at the moment?" allowZeros="true">
            </moneteer-currency-input>
<!-- 
            <clr-checkbox-container>
                <clr-checkbox-wrapper>
                    <input clrCheckbox type="checkbox" name="isBudget" [(ngModel)]="isBudget">
                    <label>Budget Account</label>
                </clr-checkbox-wrapper>
                <clr-control-helper>Should this account be included in your budget? Typically budget accounts are ones
                    that you spend money from. If you are unsure, leave this checked.</clr-control-helper>
            </clr-checkbox-container> -->

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" (click)="close()">Cancel</button>
        <button type="button" [clrLoading]="isCreating$ | async" class="btn btn-primary" (click)="create()"
            [attr.disabled]="!name.errors ? null : ''">Create</button>
    </div>
</clr-modal>