<clr-modal [clrModalClosable]="false" [clrModalOpen]="isOpen$ | async">
    <h3 class="modal-title">Create Account</h3>
    <div class="modal-body">
        <form clrForm clrLayout="horizontal" #createAccountForm="ngForm" name="create-account" novalidate>
            <clr-alert [hidden]="!(error$ | async) || (isCreating$ | async)" clrAlertType="alert-danger">
                <div class="alert-item">
                    <span class="alert-test">
                        {{error$ | async}}
                    </span>
                </div>
            </clr-alert>
            <clr-input-container>
                <label for="name">Name</label>
                <input clrInput class="input" #name="ngModel" required
                    [class.is-danger]="name.errors && (name.dirty || name.touched)" name="name" type="text"
                    [(ngModel)]="accountName">
                <clr-control-error *ngIf="name.errors && (name.dirty || name.touched)">This name is invalid
                </clr-control-error>
            </clr-input-container>

            <div class="clr-form-control">
                <label class="clr-control-label" style="padding: 0;" for="currency">Initial Balance</label>
                <div class="clr-control-container">
                    <div class="clr-input-wrapper">
                        <moneteer-currency-input name="initialBalance" [(ngModel)]="initialBalance" allowNegative="true"
                            allowZeros="true"></moneteer-currency-input>
                    </div>
                </div>
            </div>

            <div class="clr-form-control">
                <clr-checkbox-wrapper>
                    <input clrCheckbox type="checkbox" name="isBudget" [(ngModel)]="isBudget">
                    <label>Budget Account</label>
                </clr-checkbox-wrapper>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" (click)="close()">Cancel</button>
        <button type="button" [clrLoading]="isCreating$ | async" class="btn btn-primary" (click)="create()"
            [attr.disabled]="!name.errors ? null : ''">Create</button>
    </div>
</clr-modal>