<div class="d-flex flex-row">
    <div class="flex-grow-1">
        Average Spend
    </div>
    <div class="flex-grow-0">
        <strong>{{(selectionService.selectedEnvelope | async)?.averageSpend | budgetCurrency:true | async }}</strong>
    </div>
</div>
<div class="d-flex flex-row">
    <div class="flex-grow-1">
        Last 30 days spending
    </div>
    <div class="flex-grow-0">
        <strong>{{(selectionService.selectedEnvelope | async)?.averageSpend | budgetCurrency:true | async }}</strong>
    </div>
</div>