@import "_normalize.scss";
@import "colors.scss";
@import "buttons.scss";
@import "inputs.scss";


html {
    font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: $body-background;
}

.is-good {
  color: $money-good;
}

.is-bad {
  color: $money-bad;
}

.badge.badge-success {
  color: #fff;
}

.container {
  margin: 40px;
}

/* TRANSACTION TABLE */
.transaction-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-shrink: 0;
    height: 1.15rem;
    padding-top: 1px;
}

.selected, .editing {
    background-color: $primary-color-light;
    cursor: text;
}

.transaction-cell--date {
    flex: 1 1 120px;
}

.transaction-cell--account {
    flex: 1 1 120px;
}

.transaction-cell--category {
    flex: 1 1 120px;
}

.transaction-cell--flow {
    flex: 0 1 100px;
    text-align: right;
}

.transaction-cell--cleared {
    flex: 0 1 60px;
}

.transaction-cell--description {
    flex: 1 1 120px;
}

.transaction-cell--payee {
    flex: 1 1 120px;
}

.transaction-cell--selected {
    flex: 0 1 30px;
    padding-left: 8px;
}