@import "colors.scss";

.button {
    border: 0;
    color: #F4F6F8;
    padding: 4px 10px;
    background-color: $primary-color;
    border-radius: 2px;
    margin: 5px;

    &:hover{
        background-color: darken($primary-color, 5%);
    }
}

.button .button-primary {
    background-color: red;

    &:hover{
        background-color: white;
    }
}
