@import "./../../../../styles.scss";

:host {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
}

.budget-select--body {
    margin: 50px;
}

.budget-select--budget-list {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    .box {
        margin: 20px;
    }
}

h2 {
    border-bottom: 2px solid $divider-color;
    padding-bottom: 7px;
}

.card {
    width: auto;
    margin: 30px;
}

.budget-select--budget,
.budget-select--create {
    background-color: $primary-color;
    color: $primary-color-text;
    padding: 20px;
    //font-size: 1.1rem;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.overlay {
    background-color: rgba(10, 10, 10, 0.6);
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
