<div class="transaction-row" (click)="click($event)">
    <div class="transaction-cell transaction-cell--selected">
        <input type="checkbox" (click)="selected($event)" [checked]="isSelected$ | async" name="isSelected" id="isSelected">
    </div>
    <div class="transaction-cell transaction-cell--date">
        {{transaction.date | customDate}}
    </div>
    <div [hidden]="currentAccountId" class="transaction-cell transaction-cell--account">
        {{transaction.account?.name}}
    </div>
    <div class="transaction-cell transaction-cell--payee">
        {{transaction.payee?.name}}
    </div>
    <div class="transaction-cell transaction-cell--description">
        {{transaction.description}}
    </div>
    <div class="transaction-cell transaction-cell--category">
        {{envelopeName}}
    </div>
    <div class="transaction-cell transaction-cell--flow">
        {{outflow | budgetCurrency | async }}
    </div>
    <div class="transaction-cell transaction-cell--flow">
        {{inflow | budgetCurrency | async }}
    </div>
    <div class="transaction-cell transaction-cell--cleared">
        <input type="checkbox" (click)="cleared($event)" [checked]="transaction.isCleared" name="isCleared" id="isCleared">
    </div>
</div>