@import "colors.scss";
@import "customize-bootstrap.scss";

html {
    overflow: hidden;
    height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
}

.is-good {
  color: $money-good;
}

.is-bad {
  color: $money-bad;
}

.is-neutral {
    color: $theme-faded-text;
}

.is-good-light {
    color: $money-good-saturated !important;
}

.is-bad-light {
    color: $money-bad-saturated !important;
}

.badge.badge-success {
  color: #fff;
}

.container {
  margin: 40px;
}

/* TRANSACTION TABLE */
.transaction-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-shrink: 0;
    padding: 0.4em;
}

.transaction-cell--date {
    flex: 1 1 120px;
}

.transaction-cell--account {
    flex: 1 1 120px;
}

.transaction-cell--category {
    flex: 1 1 120px;
}

.transaction-cell--flow {
    flex: 0 1 100px;
    text-align: right;
}

.transaction-cell--cleared {
    flex: 0 1 60px;
}

.transaction-cell--description {
    flex: 1 1 120px;
}

.transaction-cell--payee {
    flex: 1 1 120px;
}

.transaction-cell--selected {
    flex: 0 1 30px;
    padding-left: 8px;
}

.money-label {
    height: 0.75rem;
    border-radius: 0.5rem;
    padding: 0 0.4rem;
    background-color: $theme-background;
    color: $theme-dark-text;
    line-height: 1.7em;
    font-weight: 500;
}

.money-label-negative {
    color: $money-bad;
}


.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-shadow-dark {
    text-shadow: 0 0.05em 0.2em $shadow-color-dark;
}

.box-shadow-dark {
    box-shadow: 0 0.2em 0.3em $shadow-color-dark;
}

.text-shadow-light {
    text-shadow: 0 0.05em 0.2em $shadow-color-light;
}

.box-shadow-light {
    box-shadow: 0 0.2em 0.3em $shadow-color-light;
}

// Make sure the drop downs always show on top of modals
.drop {
    z-index: 10000;
}

.cursor-pointer {
    cursor: pointer;
}