// Colors and theme from https://www.behance.net/gallery/73265931/Dashboards-2018-part-1
$theme-darker: #403491;
$theme-dark: #4E41A6;
$theme-medium: #4634BF;
$theme-light: #5849BF;
$theme-accent: #F29F05;
$theme-background: #F0F0F2;
$theme-divider-color: #BDBDBD;
$theme-hover: #EAEAEA;

$theme-light-text: #F0F0F0;
$theme-dark-text: #292929;

$shadow-color: #00000088;


$money-good:           #318700;
$money-bad:            #c92100;

$money-good-saturated: #00FFC8;
$money-bad-saturated:  #FF5540;

$error:                #cc0000;

html {
    overflow: hidden;
    height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
}

.is-good {
  color: $money-good;
}

.is-bad {
  color: $money-bad;
}

.badge.badge-success {
  color: #fff;
}

.container {
  margin: 40px;
}

/* TRANSACTION TABLE */
.transaction-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-shrink: 0;
    height: 2em;
    padding-top: 1px;
}

// .selected, .editing {
//     background-color: $theme-light;
//     cursor: text;
// }

.transaction-cell--date {
    flex: 1 1 120px;
}

.transaction-cell--account {
    flex: 1 1 120px;
}

.transaction-cell--category {
    flex: 1 1 120px;
}

.transaction-cell--flow {
    flex: 0 1 100px;
    text-align: right;
}

.transaction-cell--cleared {
    flex: 0 1 60px;
}

.transaction-cell--description {
    flex: 1 1 120px;
}

.transaction-cell--payee {
    flex: 1 1 120px;
}

.transaction-cell--selected {
    flex: 0 1 30px;
    padding-left: 8px;
}

.money-label {
    height: 0.75rem;
    border-radius: 0.5rem;
    padding: 0 0.4rem;
    background-color: $theme-background;
    color: $theme-dark-text;
    line-height: 1.7em;
    font-weight: 500;
}

.money-label-negative {
    color: $money-bad;
}

/* Clarity overrides */
clr-date-container.clr-form-control {
    margin: 0;
}

.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-shadow {
    text-shadow: 0 0.05em 0.2em $shadow-color;
}

.box-shadow {
    box-shadow: 0 0.2em 0.3em $shadow-color;
}