$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$money-good:           #318700;
$money-bad:            #c92100;

$money-good-saturated: #00FFC8;
$money-bad-saturated:  #FF5540;

$error:                #cc0000;

$primary: $primary-color;

html {
    overflow: hidden;
    height: 100%;
}

body {
  height: 100%;
}

.is-good {
  color: $money-good;
}

.is-bad {
  color: $money-bad;
}

.badge.badge-success {
  color: #fff;
}

.container {
  margin: 40px;
}

/* TRANSACTION TABLE */
.transaction-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-shrink: 0;
    height: 1.15rem;
    padding-top: 1px;
}

.selected, .editing {
    background-color: $primary-color-light;
    cursor: text;
}

.transaction-cell--date {
    flex: 1 1 120px;
}

.transaction-cell--account {
    flex: 1 1 120px;
}

.transaction-cell--category {
    flex: 1 1 120px;
}

.transaction-cell--flow {
    flex: 0 1 100px;
    text-align: right;
}

.transaction-cell--cleared {
    flex: 0 1 60px;
}

.transaction-cell--description {
    flex: 1 1 120px;
}

.transaction-cell--payee {
    flex: 1 1 120px;
}

.transaction-cell--selected {
    flex: 0 1 30px;
    padding-left: 8px;
}

/* Clarity overrides */
.clr-form-control {
    margin: 0;
}