<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="far fa-envelope"></i>
            <span> Add Envelope</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #addEnvelopeForm="ngForm" name="add-envelope" novalidate>

            <div class="form-group">
                <label for="name">Name</label>
                <input style="width: 100%;" autofocus class="form-control" #name="ngModel" required
                    [class.is-danger]="name.errors && (name.dirty || name.touched)" name="name" type="text"
                    [(ngModel)]="accountName">
            </div>
        </form>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <moneteer-envelope-category-select-dropdown [envelopeCategories]="dataService.envelopeCategories$ | async"
            [(selectedEnvelopeCategory)]="selectedEnvelopeCategory">
        </moneteer-envelope-category-select-dropdown>
        <pre>{{selectedEnvelopeCategory?.name}}</pre>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="create()"
            [attr.disabled]="!name.errors ? null : ''">Create</button>
    </div>
</ng-template>