<clr-modal [(clrModalOpen)]="isOpen">
    <h3 class="modal-title">
        <clr-icon shape="envelope" class="is-info" size="32"></clr-icon>
        <span> Add Envelope</span>
    </h3>
    <div class="modal-body">
        <form class="clr-form" #addEnvelopeForm="ngForm" name="add-envelope" novalidate>

            <div class="clr-form-control">
                <label for="name" class="clr-control-label clr-col-12 clr-col-md-2">Name</label>
                <div class="clr-control-container clr-col-12 clr-col-md-10">
                    <div class="clr-input-wrapper">
                        <input style="width: 100%;" clrInput autofocus class="input" #name="ngModel" required
                            [class.is-danger]="name.errors && (name.dirty || name.touched)" name="name" type="text"
                            [(ngModel)]="accountName">
                    </div>
                </div>
            </div>

            <div class="clr-form-control">
                <label for="category" class="clr-control-label clr-col-12 clr-col-md-2">Category</label>
                <div class="clr-control-container clr-col-12 clr-col-md-10">
                    <div class="clr-input-wrapper">
                        <moneteer-envelope-category-select-dropdown
                            [envelopeCategories]="dataService.envelopeCategories$ | async"
                            [(selectedEnvelopeCategory)]="selectedEnvelopeCategory">
                        </moneteer-envelope-category-select-dropdown>
                        <pre>{{selectedEnvelopeCategory?.name}}</pre>
                    </div>
                </div>
            </div>

            <!-- <clr-input-container>
                <label for="name">Name</label>
                
        
                <clr-control-error *ngIf="name.errors && (name.dirty || name.touched)">Name is required
                </clr-control-error>
            </clr-input-container> -->



        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" (click)="close()">Cancel</button>
        <button type="button" [clrLoading]="isCreating$ | async" class="btn btn-primary" (click)="create()"
            [attr.disabled]="!name.errors ? null : ''">Create</button>
    </div>
</clr-modal>