@import "./../../../../styles.scss";

:host {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    padding-bottom: 0;
}

.first-column {
    flex: 0 0 200px;
}

.stat-column {
    flex: 0 1 50%;
    text-align: center;
}

h5 {
    margin-top: 0;
}