@import "./../../../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom: 1px solid $divider-color;
    flex: 0 0 auto;
}

h3 {
    margin: 0;
    color: $primary-text-color;
}

h4 {
    font-style: italic;
    margin: 0.3em 0 0 0;
    color: $secondary-text-color;
}

#progress-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    button {
        flex: 0 0 auto;
        margin: 0;
    }
}



