@import "./../../../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
}

#child-categories {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
}

#child-categories > moneteer-envelope:last-child {
    border: 0;
}


