@import "./../../../../styles.scss";

:host {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid $divider-color;
    flex: 0 0 auto;
}

.good {
    background-color: $money-good;
    color: #ffffff;
    border-radius: 10px;
}

.bad {
    background-color: $money-bad;
    color: #ffffff;
    border-radius: 10px;
}

.stat-balance {
    padding: 3px 7px;
}